<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Spindle NMS</title>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/photon/css/photon.min.css"/>
    <link rel="stylesheet" href="/photon/css/alarms.css"/>
    <title>Hello</title>
</head>
<body>
<div>
    <main>
        <div class="window">
            <header class="toolbar toolbar-header">
                <h1 class="title">Spindle NMS</h1>
                <div class="toolbar-actions">
                    <div class="btn-group">
                        <button
                                class="btn btn-default"
                                title="Toggle visibility of cleared items"
                        >
                            <span class="icon icon-eye"></span>
                        </button>
                    </div>
                    <button class="btn btn-default pull-right">
                        <span class="icon icon-retweet"></span>
                    </button>
                </div>
            </header>
            <div class="window-content">
                <div class="pane-group">
                    <div class="pane-sm sidebar">
                        <nav class="nav-group">
                            <h5 class="nav-group-title">Navigation</h5>
                            <a class="nav-group-item" href="/api/alarms"
                            ><span class="icon icon-home"></span>Alarms</a
                            ><a class="nav-group-item" href="/api/alarms/editor"
                        ><span class="icon icon-pencil"></span>Editor</a>
                        </nav>
                    </div>
                    <div class="pane">
                        <table class="table">
                            <thead>
                            <tr>
                                <td><abbr title="Id">Id</abbr></td>
                                <td><abbr title="Date">Date</abbr></td>
                                <td><abbr title="TID">TID</abbr></td>
                                <td><abbr title="AID">AID</abbr></td>
                                <td><abbr title="Severity">Severity</abbr></td>
                                <td><abbr title="Message">Message</abbr></td>
                                <td><abbr title="State">State</abbr></td>
                                <td><abbr title="Group">Group</abbr></td>
                                <td><abbr title="Link">Link</abbr></td>
                            </tr>
                            </thead>
                            <tbody>
                            {{#alarms}}
                                <tr class="{{severity}}">
                                    <td>{{id}}</td>
                                    <td>{{date}}</td>
                                    <td>{{tid}}</td>
                                    <td>{{aid}}</td>
                                    <td>{{severity}}</td>
                                    <td>{{message}}</td>
                                    <td>{{state}}</td>
                                    <td>{{group}}</td>
                                    <td>{{link}}</td>
                                </tr>
                            {{/alarms}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <footer class="toolbar toolbar-footer">
                <h1 class="title">Footer</h1>
            </footer>
        </div>
    </main>
</div>
</body>
</html>